.intro{
  display: block;
  margin: auto;
  text-align: center;
  font-style: oblique;
  color: white;
}

body{
  background-color: black;
  color: red;
}

.boring{
  font-style: italic;
  color: purple;
}
